# Version Tracking Ignore Rules for Git VCS
# https://git-scm.com/docs/gitignore
## OpenOffice/LibreOffice Lock Files
.~lock.*

## 目標譯文輸出目錄
/target/*
!/target/README.markdown

## 翻譯備份
## 我們已經用 Git 版本控制了，所以沒必要留備份
/omegat/project_save.tmx.*.bak
/omegat/project_save.tmx.bak

## 自動產生的專案統計數字
/omegat/project_stats.txt

## 最後編輯的項目紀錄
## 因為是多人協作的專案所以這沒什麼意義
/omegat/last_entry.properties
